<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de Tarefas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <h4>Minhas Tarefas</h4>
    
    <ion-button (click)="buscaTarefas()">Atualizar</ion-button>    
    <br>

    <div *ngIf="tarefas.length > 0;
      then thenBlock
      else elseBlock">
    </div>

    <ng-template #thenBlock>

      <ion-row class="cabeçalho">
        <ion-col size=4><span>Descrição</span></ion-col>
        <ion-col size=3><span>Prioridade</span></ion-col>
        <ion-col size=3><span>Prazo Máximo</span></ion-col>
        <ion-col size=2><span>Executada</span></ion-col>
      </ion-row>

      <ion-grid *ngFor="let t of tarefas">
        <ion-row [class.concluida]="t.concluida" [class.bold]="t.prioridade == 2">
          <ion-col size=4><span [class.expirada]="t.expirada()">{{t.descricao}}</span></ion-col>
          <ion-col size=3><span [class.expirada]="t.expirada()">{{t.prioridadeStr()}}</span></ion-col>
          <ion-col size=3><span [class.expirada]="t.expirada()">{{t.dataLimite}}</span></ion-col>
          <ion-col size=2>
            <ion-icon (click)="toggleConcluida(t)" [name]="t.concluida ?
            'checkbox-outline' : 'square-outline'"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>

    <ng-template #elseBlock>Nenhuma tarefa cadastrada.</ng-template>

    <h4>Nova Tarefa</h4>

    <form (ngSubmit)="salva()">
      <ion-input type="text" 
        placeholder="Descrição:" 
        name="descricao"
        [(ngModel)]="tarefa.descricao"></ion-input>

      <ion-input type="number" 
        placeholder="Prioridade:" 
        name="prioridade"
        [(ngModel)]="tarefa.prioridade"></ion-input>

      <ion-datetime type="text" 
        name="dataLimite"
        DisplayFormat="AAAA-MM-DD"
        [(ngModel)]="tarefa.dataLimite"
        ></ion-datetime>


      <ion-button type="submit">Salvar</ion-button>
    </form>

  </div>
</ion-content>
